# Set to "true" to seed the database with development data on the first run.
# On subsequent runs, this will be ignored unless the .dev_data_seeded flag file is removed.
SECRET_KEY='dev'
SEED_DEV_DATA=true
