# SECRET_KEY is optional. If not provided, a secure key will be automatically
# generated and stored in the persistent data volume.
# Set this variable only if you need to manually override the key.
SECRET_KEY=
# Set to "true" to seed the database with development data on the first run.
SEED_DEV_DATA=true

# TrueNAS Registry URL for deploying Docker images (e.g., your-truenas-ip:5000)
TRUENAS_REGISTRY_URL='registry.myserver.net:12345'

# TrueNAS Nginx Certificate Paths (used in TrueNAS UI deployment)
TRUENAS_REAL_CERT_PATH="/etc/certificates/Production.crt"
TRUENAS_REAL_KEY_PATH="/etc/certificates/Production.key"

# TrueNAS Application Base Path (e.g., /mnt/data-pool/opennourish)
TRUENAS_APP_PATH="/mnt/data-pool/opennourish"