{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.checkin_date.label(class="form-label") }}
            {{ form.checkin_date(class="form-control") }}
            {% if form.checkin_date.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.checkin_date.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.weight_kg.label(class="form-label") }}
            {{ form.weight_kg(class="form-control") }}
            {% if form.weight_kg.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.weight_kg.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.body_fat_percentage.label(class="form-label") }}
            {{ form.body_fat_percentage(class="form-control") }}
            {% if form.body_fat_percentage.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.body_fat_percentage.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.waist_cm.label(class="form-label") }}
            {{ form.waist_cm(class="form-control") }}
            {% if form.waist_cm.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.waist_cm.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
</div>
{% endblock %}
